<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsw.dispenserapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
	
	<!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:label="@string/app_name"
            android:name="com.dsw.dispenserapp.LoginActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.dsw.dispenserapp.DashboardActivity">            
        </activity>
        <activity
            android:name="com.dsw.dispenserapp.ResolveIssue">            
        </activity>
        <activity
            android:name="com.dsw.dispenserapp.Waterpoint">            
        </activity>
        <activity
            android:name="com.dsw.dispenserapp.ResolveAnIssue">            
        </activity>  
        <activity
            android:name="com.dsw.dispenserapp.DistrictsActivity">            
        </activity> 
        <activity
            android:name="com.dsw.dispenserapp.SublocationsActivity">            
        </activity>  
        <activity
            android:name="com.dsw.dispenserapp.VillagesActivity">            
        </activity> 
        <activity
            android:name="com.dsw.dispenserapp.WaterpointsActivity">            
        </activity>  
        <activity
            android:name="com.dsw.dispenserapp.CreateIssueActivity">            
        </activity>
        
        <activity
            android:name="com.dsw.dispenserapp.PrototypeDistrictsActivity">            
        </activity> 
        <activity
            android:name="com.dsw.dispenserapp.PrototypeSublocationsActivity">            
        </activity>  
        <activity
            android:name="com.dsw.dispenserapp.PrototypeVillagesActivity">            
        </activity> 
        <activity
            android:name="com.dsw.dispenserapp.PrototypeWaterpointsActivity">            
        </activity>  
        <activity
            android:name="com.dsw.dispenserapp.PrototypeCreateIssueActivity">            
        </activity>
    </application>

</manifest>
